<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xulinchao.intent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="xlc" />

                <category android:name="xlc2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
        隐式Intent在配置action和category时注意category一定要配置默认的属性，然后在添加
        所需要的属性，当两个activity的action相同时，根据category的值来判断，如果category相同
        或者没有，则会把所有符合的activity给列出来，给用户自己选择。
        注意:在启动一个activity时，必须指明action(隐式情况下)，category可指明也可不指明
        -->
        <activity android:name=".Main3Activity">
            <intent-filter>
                <action android:name="xlc" />

                <category android:name="xlc" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Main4Activity"></activity>
    </application>

</manifest>
